<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/folderListMenu.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/ietube/images/folderListMenu/1">フォルダリストメニュー</a>
  </body>
</html>
